@import './base.css';

.shopping-cart-icon--primary g path {
    fill: var(--color-primary);
}
.speakers .main__title {
    font-size: 98px;
}
.speakers__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 200px;
    grid-row-gap: 120px;
}
.speaker__wrapper {
    max-width: 460px;
}
.speaker__photo {
    height: 310px;
    width: 310px;
    object-fit: cover;
    margin-bottom: 26px;
}
.speaker__photo--top {
    object-position: top;
}
.speaker__name {
    font-size: 32px;
    margin-bottom: 20px;
}
.company {
    font-size: 24px;
    margin-bottom: 32px;
}
.company__bio {
    font-size: 20px;
}
.company,
.company__bio {
    color: var(--color-text-on-secondary);
}

@media (width < 1000px) {
    .speakers__wrapper {
        grid-template-columns: 1fr;
    }
}
@media (width < 840px) {
    .nav {
        background-color: var(--color-text-on-primary);
    }
}